* {
  padding: 0;
  margin: 0;
  font-family: Segoe UI;
  box-sizing: border-box;
}
body {
  width: 100%;
}
.unscroll {
  overflow: hidden;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
  height: 100%;
}
header {
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
}
.up_header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  border-bottom: 1px solid #00000023;
}
.header_info {
  max-width: 400px;
}
.header_button {
  border-radius: 10px;
  text-transform: uppercase;
  color: #fff;
  background-color: orange;
  max-width: 184px;
  padding: 8px 5px;
  border: none;
  width: 100%;
  text-decoration: none;
  transition: 0.3s;
}
.header_button:hover {
  background-color: rgb(235, 152, 0);
}
.down_header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  height: 70px;
}
.down_header img {
  width: 20px;
  height: 20px;
  display: none;
}

.nav_button {
  margin-left: 10px;
  text-decoration: none;
  color: black;
}
.nav_button:hover {
  border-bottom: 1px solid;
}

#burger {
  border: none;
  background-color: #fff;
}
.main_content {
  height: 737px;
  margin: 0 auto;
  width: 100%;
  align-items: center;
  background-image: url("../img/fon.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1920px;
}
.main_image {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
.img_container {
  background-color: #000;
  width: 100%;
  height: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
.main_info {
  align-items: center;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  padding-top: 250px;
  max-width: 700px;
}
.button_catalog {
  padding: 15px 45px;
  border-radius: 10px;
  color: #000;
  border: none;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
.button_catalog:hover {
  background-color: #ffa019;
  color: #fff;
}
.main_info_article {
  font-size: 56px;
  font-weight: lighter;
  padding-bottom: 20px;
}
.main_info_text {
  font-size: 20px;
  line-height: 30px;
  margin: 0 auto;
  padding-bottom: 30px;
  font-weight: lighter;
}
.advantages_container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
.advantages_box {
  padding-top: 90px;
  padding-bottom: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.advantages__buttons img {
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.advantages_icons_container {
  display: flex;
  justify-content: space-between;
}
.advantages_card {
  height: 100%;
  min-width: 160px;
}
h2 {
  font-size: 34px;
  font-weight: lighter;
}
.advantages_card_img {
  width: 100%;
  height: auto;
}
.about_text {
  line-height: 30px;
  padding-bottom: 30px;
  font-size: 20px;
  font-weight: lighter;
}
.about_Us {
  padding-bottom: 90px;
  padding-top: 90px;
}
.subscription_container {
  width: 100%;
  height: auto;
  background-color: #ffa019;
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.subscription_box {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  align-items: flex-end;
  justify-content: space-between;
  display: flex;
}
.subscription_text {
  max-width: 230px;
  text-align: center;
  color: #fff;
  font-weight: lighter;
}
.subscription__input {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  box-sizing: border-box;
  width: 23%;
  margin-top: 10px;
  border: none;
  background-color: #ffa019;
  border: #ffffff 1px solid;
  color: #fff;
  outline: 0;
}
.subscription__input::placeholder {
  color: #fff;
  opacity: 0.9;
}
.subscription_button {
  color: rgb(0, 0, 0);
  text-decoration: none;
  user-select: none;
  background: rgb(255, 255, 255);
  padding: 0.7em 4em;
  outline: none;
  font-size: 14px;
  font-weight: bold;
  transition: 0.2s;
  border: none;
  width: 23%;
}
.subscription_button:hover {
  background-color: #e6e6e6;
}
.second_floor {
  height: 100%;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.features {
  padding-top: 90px;
  padding-bottom: 50px;
}
.features_container {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: lighter;
  max-width: 900px;
}
.advantages_container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
.advantages_box {
  padding-top: 90px;
  padding-bottom: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.advantages__buttons img {
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.advantages_icons_container {
  display: flex;
  justify-content: space-between;
}
.advantages_card {
  height: 100%;
  min-width: 160px;
}
h2 {
  font-size: 34px;
  font-weight: lighter;
}
.advantages_card_img {
  width: 100%;
  height: auto;
}
.about_text {
  line-height: 30px;
  padding-bottom: 30px;
  font-size: 20px;
  font-weight: lighter;
}
.about_Us {
  padding-bottom: 90px;
  padding-top: 90px;
}
.subscription_container {
  width: 100%;
  height: auto;
  background-color: #ffa019;
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.subscription_box {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  align-items: flex-end;
  justify-content: space-between;
  display: flex;
}
.subscription_text {
  max-width: 230px;
  text-align: center;
  color: #fff;
  font-weight: lighter;
}
.subscription__input {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  box-sizing: border-box;
  width: 23%;
  margin-top: 10px;
  border: none;
  background-color: #ffa019;
  border: #ffffff 1px solid;
  color: #fff;
  outline: 0;
}
.subscription__input::placeholder {
  color: #fff;
  opacity: 0.9;
}
.subscription_button {
  color: rgb(0, 0, 0);
  text-decoration: none;
  user-select: none;
  background: rgb(255, 255, 255);
  padding: 0.7em 4em;
  outline: none;
  font-size: 14px;
  font-weight: bold;
  transition: 0.2s;
  border: none;
  width: 23%;
}
.subscription_button:hover {
  background-color: #e6e6e6;
}
.second_floor {
  height: 100%;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.features {
  padding-top: 90px;
  padding-bottom: 50px;
}
.features_container {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: lighter;
  max-width: 900px;
}
.features_text {
  font-size: 20px;
  font-weight: lighter;
  padding-top: 30px;
}
.catalog_name {
  padding-top: 30px;
  padding-bottom: 50px;
}
.catalog_container {
  height: 100%;
  width: 100%;
  background-color: #fbfbfb;
}
.catalog_nav_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.catalog_button {
  text-decoration: none;
  color: #000;
  transition: 0.3s;
  padding: 0.2em 0.5em;
  border-radius: 10px;
  font-size: 16px;
}
.catalog_button:hover {
  background-color: #ffa019;
  color: #fff;
}
.catalog_examples {
  display: flex;
  justify-content: space-between;
}
.example_card {
  max-width: 260px;
  height: 388px;
  background-color: #fff;
  border: 1px #b1b1b1 solid;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #000;
  transition: 0.1s;
}
.example_card:hover {
  transform: scale(1.01);
}

.catalog_img {
  width: 100%;
  height: auto;
}
.example_card_text {
  padding-left: 15px;
}
.example_card_price {
  padding-left: 15px;
  font-size: 18px;
  font-weight: bold;
}
.consultants_title {
  padding-top: 60px;
  padding-bottom: 30px;
}
.consultants_container {
  justify-content: space-between;
  display: flex;
}
.consultant_box {
  max-width: 390px;
  width: 100%;
  display: flex;
}
.consultant_img {
  max-width: 182px;
  width: 100%;
  height: 220px;
}
.consultant_info {
  padding-left: 20px;
  width: 100%;
  font-weight: lighter;
}
.consultant_name {
  font-size: 20px;
  padding-top: 30px;
}
.consultant_function {
  font-style: italic;
  font-size: 15px;
  padding-bottom: 20px;
}
.consultant_write_button {
  padding: 0.5em 0.8em;
  border-radius: 10px;
  background-color: #ffa019;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  transition: 0.2s;
}
.consultant_write_button:hover {
  background-color: #d38519;
}
.brands_background_text {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  word-spacing: 50px;
  letter-spacing: 3px;
  color: #9b9b9b;
  padding-top: 100px;
  padding-bottom: 100px;
  user-select: none;
}
